<!DOCTYPE html>
<html lang="en">
<head>
  <title>FINALIZE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="resources/css/style.css">

</head>
<body>
<header class="header fixed-top">
    <nav class="navbar navbar-expand-xl  py-3">
        <div class="container">
          <a href="#" class="navbar-brand text-uppercase font-weight-bold">
            <div class="header-logo">
              <img src="resources/img/logo.png" align="header-logo" class="header-logo img-fluid">
            </div>
        </a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button> 
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a href="#" class="nav-link text-capitalize font-weight-normal text-white">About</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link text-capitalize font-weight-normal text-white">Tournaments</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link text-capitalize font-weight-normal text-white">Divisions</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link text-capitalize font-weight-normal text-white">Rules</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link text-capitalize font-weight-normal text-white">FAQ</a>
                    </li>
                </ul>
                <div class="account-info d-flex">
                    <a href="#" class="nav-link text-uppercase font-weight-bold text-purple">Login</a>
                    <a href="#" class="nav-link sign-up text-uppercase font-weight-bold text-white bg-purple">Sign up</a>
                </div>
            </div>
        </div>
    </nav>
</header>
  <section id="banner-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <div class="banner_description pt-3 pb-3">
            <div class="banner_heading">
              <h1 class="text-white font-weight-bold text-uppercase">Finalize Tournaments</h1>
              <h3 class="text-purple font-weight-bold text-uppercase">for all skill levels</h3>
            </div>
            <div class="banner-btns  text-uppercase text-white">
              <a href="#" class="text-white bg-purple border_purple text-center mt-3 text-decoration-none">find a tournament</a>
              <a href="#" class="text-purple bg-none border_purple text-center mt-3 text-decoration-none"><img src="resources/img/game-icon.png" alt="game-icon"class="game-icon">
              Join us on discord</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="join-over-btn">
    <div class="container"> 
      <div class="joined_players_btn text-center">
        <a href="#" class="bg-purple text-white d-block text-uppercase font-weight-bold rounded-pill text-decoration-none">Join our 900,000 players</a>
      </div>  
    </div>
  </section>
  <section id="tournament-section" class="tournament-section-bg">
   <div class="container">
      <div class="section-title text-center">
        <h2 class="text-uppercase font-weight-bold">Tournaments</h2>
        <p class="font-weight-normal">Sign up for a tournament and get your friends to join your team (free or paid).</p>
      </div>
      <div class="find_tournament text-center py-2">
        <h6 class="font-weight-bold">Find a tournament </h6>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 mt-3">
          <div class="bg-purple tournament ">
            <div class="tournaments_icons position-relative">
              <img src="resources/img/icon-1.png" alt="icon-1" class="position-absolute">
            </div>
            <div class="tournaments_main">  
              <div class="tournament-section_title text-center text-white pt-4 pb-4">
                <h6 class="font-weight-bold">Free solos</h6>
                <p class="font-weight-normal text-white">Monday,November 10</p>
                <div class="team-expected pt-3 pb-3">
                  <a href="#" class="dark-purple text-white font-weight-normal rounded-pill text-decoration-none"> <i class="fa fa-star" aria-hidden="true"></i>200 Teams Expected</a>
                </div>
                <div class="pricing-perdivision pt-3 pb-3">
                  <h6>$150 Prize</h6>
                  <p class="text-capitalize">per division</p>
                </div>
                <div class="registered-btn">
                  <a href="#" class="text-dark bg-white text-uppercase text-decoration-none">Register Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 mt-3">
          <div class="bg-light-gray ">
            <div class="tournaments_icons-2 position-relative">
              <img src="resources/img/icon-2.png" alt="icon-2" class="position-absolute">
            </div>
            <div class="tournaments_main">  
              <div class="tournament-section_title text-center text-white pt-4 pb-4">
                <h6>Free solos</h6>
                <p>Monday,November 10</p>
                <div class="team-expected pt-3 pb-3">
                  <a href="#" class="dark-gray text-white font-weight-normal rounded-pill text-decoration-none"><i class="fa fa-star" aria-hidden="true"></i>200 Teams Expected</a>
                </div>
                <div class="pricing-perdivision pt-3 pb-3">
                  <h6>$150 Prize</h6>
                  <p class="text-capitalize">per division</p>
                </div>
                <div class="registered-btn">
                  <a href="#" class="text-white bg-none text-uppercase text-decoration-none">Register Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>    
    </div>
  </div>
</section>
<section id="score-section" class="score-section-bg">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="text-white text-uppercase">Live Scoring</h2>
      <p class="py-4">Play games in public lobbies and track how your team is doing with our live scoreboard.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
         <table>
            <tr>
                <th class="font-weight-normal">Find a tournament </th>
                <th class="font-weight-normal text-center">Best 2 Placement Points</th>
                <th class="font-weight-normal text-center">Best 2 Kils</th>
                <th class="font-weight-normal text-center">Total Points</th>
                <th class="font-weight-normal text-center">Total Wins</th>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td class = "table-column">1’95 Chicago Bulls</td>
                <td class="text-center">16</td>
                <td class="text-center">40</td>
                <td class="text-center">56</td>
                <td class="text-center">4</td>
            </tr>
            <tr>
                <td class = "table-column">1’95 Chicago Bulls</td>
                <td class="text-center">16</td>
                <td class="text-center">40</td>
                <td class="text-center">56</td>
                <td class="text-center">4</td>
            </tr>
            <tr>
                <td class = "table-column">1’95 Chicago Bulls</td>
                <td class="text-center">16</td>
                <td class="text-center">40</td>
                <td class="text-center">56</td>
                <td class="text-center">4</td>
            </tr>
        </table>
    </div>
  </div>
</div>
</section>

<section id="creator-section" class="creator-section">
  <div class="container">  
    <div class="section-title text-center">
      <h2 class="text-uppercase font-weight-bold">Trusted by top content creators</h2>
      <p class="text-center py-4 font-weight-normal">We are endorsed by some of the biggest names in gaming.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="members py-3">
          <div class="creators-profile position-relative">
            <img src="resources/img/creator-1.png" class="img-fluid" alt="creator-1-img">
          </div>
          <div class="members_info position-absolute">
            <h5 class="font-weight-bold text-white">HUSKERRS</h5>
            <p class="font-weight-bold text-white">201K SUBSCRIBERS</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="members py-3">
          <div class="creators-profile position-relative">
            <img src="resources/img/creator-1.png" class="img-fluid" alt="creator-1-img">
          </div>
          <div class="members_info position-absolute">
            <h5 class="font-weight-bold text-white">HUSKERRS</h5>
            <p class="font-weight-bold text-white">201K SUBSCRIBERS</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="members py-3">
          <div class="creators-profile position-relative">
            <img src="resources/img/creator-1.png" class="img-fluid" alt="creator-1-img">
          </div>
          <div class="members_info position-absolute">
            <h5 class="font-weight-bold text-white">HUSKERRS</h5>
            <p class="font-weight-bold text-white">201K SUBSCRIBERS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="divisions-section" class="divisions-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="division_main">
          <div class="division_image position-relative">
            <img src="resources/img/division-img.png" class="img-fluid position-absolute" alt="division-img">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="division-info">
          <h5 class="text-white font-weight-bold text-uppercase">Divisions for  all skill levels</h5>
          <p class="font-weight-normal">We are endorsed by some of the biggest names in gaming.</p>
        </div>
        <div class="read_more_btn mt-5">
          <a href="#" class="bg-purple text-white text-uppercase font-weight-bold text-decoration-none">Read more</a>
        </div>
      </div>
    </div>
  </div>  
</section>
<section id="bolg-section" class="blogs-section">
  <div class="container">
    <div class="section-title pb-3">
      <h2 class="text-uppercase text-center font-weight-bold">Blog & news</h2>
      <p class="text-center font-weight-normal">We are endorsed by some of the biggest names in gaming.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mt-3">
        <div class="justify-content-center align-items-center">
          <div class="blog-image">
            <img src="resources/img/blog-1.png" class="img-fluid d-block m-auto" alt="blog-img-3">
          </div>
          <div class="blog-description">
            <h4 class="py-2 font-weight-bold">Lorem ipsum is simply dummy</h4>
            <p class="font-weight-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 mt-3">
        <div class="justify-content-center align-items-center">
          <div class="blog-image">
            <img src="resources/img/blog-2.png" class="img-fluid" alt="blog-img-2">
          </div>
          <div class="blog-description">
            <h4 class="py-2">Lorem ipsum is simply dummy</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 mt-3">
        <div class="justify-content-center align-items-center">
          <div class="blog-image">
            <img src="resources/img/blog-3.png" class="img-fluid" alt="blog-img-3">
          </div>
          <div class="blog-description">
            <h4 class="py-2">Lorem ipsum is simply dummy</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer-section" class="footer-section">
  <div class="container">
    <div class="row">
      
    <div class="footer-main d-flex border-bottom">
      <div class="col-md-3">
        <div class="footer-logo">
          <img src="resources/img/footer-logo.png" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-links">
          <ul>
            <li class="footer-links"><a href="#" class="text-white text-decoration-none font-weight-normal">About</a></li>
            <li class="footer-links"><a href="#" class="text-white text-decoration-none font-weight-normal">Tournaments</a></li>
            <li class="footer-links"><a href="#" class="text-white text-decoration-none font-weight-normal">Divisions</a></li>
            <li class="footer-links"><a href="#" class="text-white text-decoration-none font-weight-normal">Rules</a></li>
            <li class="footer-links"><a href="#" class="text-white text-decoration-none font-weight-normal">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="social-links float-right">
          <ul>
            <li class="social-links">
              <a href="#" class="text-white text-decoration-none font-weight-normal">
                <i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li class="social-links">
              <a href="#"class="text-white text-decoration-none font-weight-normal">
                <i class="fa fa-paper-plane" aria-hidden="true"></i></a>
            </li>
            <li class="social-links">
              <a href="#" class="text-white text-decoration-none font-weight-normal">
                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li class="social-links">
              <a href="#" class="text-white text-decoration-none font-weight-normal">
                <i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="col-lg-12 col-md-12">
      <div class=" subscription-form d-block m-auto pt-5">
        <form action="" method="post" class="rounded-pill d-block m-auto position-relative mt-5">
          <input type="email" placeholder="Email address" class="text-white">
          <input type="submit" value="Subscribe" class="text-white position-absolute rounded-pill">
        </form>
        <div class="copyright-text text-center pt-5 pt-5">
          <a href="#" class="text-decoration-none font-weight-normal">@Copyright 2021 All Rights Reserved.</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="resources/js/jquery.min.js"></script>
<script src="resources/js/popper.min.js"></script>
<script src="resources/js/bootstrap.min.js"></script>

</body>
</html>


<script type="text/javascript">
$(function () {
    $(window).on('scroll', function () {
        if ( $(window).scrollTop() > 10 ) {
            $('.navbar').addClass('active');
        } else {
            $('.navbar').removeClass('active');
        }
    });
});
</script>
